.formulario-conta-dados {
    padding: 10px;
    max-width: 75%;
    margin: 0 auto;
}

.gridConta-criar-excluir {
    display: grid;
    grid-template-columns: 50% 50%;
    
}

#excluirConta {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    top: 50px;
}

#excluirConta p {
    color: #CE2424;
    font-size: 400;
}

#link-historico {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    bottom: 90px;
}

#link-historico p {
    color: #6A1993;
    font-weight: 400;
}

.placeHol-partes-dados{
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 17px;
    text-align: left;
}

#botao-alterar button {
    background-color: #fff;
    color: black;
    padding: 8px 8px;
    width: 140px;
    height: 17px;
    font-size: large;
    text-align: center;
}

#pla-tex-alterar {
    display: grid;
    grid-template-columns: 20% 18% 20%;
}

#botao-alterar {
    text-align: right;
}

#iconAterar {
    position: relative;
    bottom: 20%;
    left: 5px;
}