/*.cardapio-container {
    padding: 40px;
    text-align: center;
}*/

.cardapio-container {
    border: 10px solid red; 
    padding: 20px;
    margin: 20px auto;
    margin-bottom: 50px;
    margin-top: 50px;
    max-width: 1300px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}


#titulo-cardapio {
    margin: 100px;
    font-size: 64px;
    font-weight: 300;
    text-align: center;
}

.cardapio-section {
    margin-bottom: 50px;
    text-align: left;
}

.cardapio-section h2 {
    font-weight: 300;
    font-size: 36px;
}

.cardapio-content {
    display: flex;
    justify-content: space-between;
    /* Espaço entre imagens e lista */
    align-items: center;
    margin-top: 20px;
    margin-bottom: 100px;
    width: 100%;
    /* Garante que o conteúdo ocupe a largura total */
}

.cardapio-images {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
    padding-left: 20px;
}

.cardapio-images img {
    max-width: 300px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cardapio-list {
    flex: 1;
    /* Lista ocupa o outro lado */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Alinha os itens ao início */
    gap: 15px;
    padding-right: 20px;
    /* Distância da borda direita */
    text-align: left;
}

.cardapio-item {
    padding: 10px 20px;
    width: 100%;
    font-weight: 300;
}

.cardapio-item h3 {
    margin: 0;
    font-size: 24px;
    font-weight: 300;
    color: #000;
}