* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: League Spartan;
}

.formulario-conta {
    padding: 10px;
    max-width: 75%;
    margin: 0 auto;
}

.titulo-CriarConta {
    padding-top: 45px;
}

.titulo-CriarConta h1 {
    font-weight: 300;
}

.placeHol {
    padding-top: 30px;
    padding-bottom: 60px;
    font-size: 17px;
    text-align: left;
}

.placeHol-partes {
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 17px;
    text-align: left;
}

.placeHol input {
    padding: 8px 8px;
    outline: none;
    border: 2px solid #000000;
    font-size: 20px;
    width: 40%;
}

.placeHol-texto {
    padding-bottom: 10px;
}

.botao-pronto {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}


button {
    background-color: black;
    color: white;
    width: 79%;
    height: 50px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    opacity: 1;
    transition: .3s;
    font-size: 1.6rem;
}

button:hover {
    opacity: 0.8;
}