.cardapio-section > div {
    display: flex;
    justify-content: space-between;
    align-items: center;             /* Alinha verticalmente os itens no centro */
    margin-bottom: 20px;             /* Opcional: para dar espaço entre as seções */
}

.cardapio-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #6A1993;
    color: white;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.cardapio-button:hover {
    background-color: darkred;
}
